<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chart_style.css') }}">
    <title>Indexify</title>
</head>
<body>
    <div class="header">
        <h1>Indexify</h1>
    </div>
    <div class="chart">
        {{ line_chart.render() |safe }}
    </div>
    <form class="data-form" action="/" method="GET">
        <button class="btn" type="submit">Home</button>
    </form>
</body>
</html>